# --- Dépendances ---
node_modules/
**/node_modules/

# --- Expo & React Native ---
.expo/
dist/
web-build/
expo-env.d.ts

# --- Native ---
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# --- Metro ---
.metro-health-check*

# --- Debug & logs ---
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs
pnpm-debug.log*
lerna-debug.log*

# --- macOS ---
.DS_Store
*.pem

# --- Env files ---
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
.env.local

# --- TypeScript ---
*.tsbuildinfo

# --- Build & output ---
/dist
/build
web-build/
coverage/
.nyc_output
app-example

# --- Temp & runtime ---
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- IDEs & editors ---
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# --- VSCode ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- Prisma ---
/generated/prisma

# --- Autres ---
expo-env.d.ts